<a href="https://colab.research.google.com/github/Kendimuriuki/Class-Assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1.1 Variable Declaration and Type Checking

In [ ]:
Age =28
Height_metres = 5.54
Fav_colour = "Yellow"
is_student = True
#Printing the value and data type of each variable usinf the 'f' string
print(f"Age: {Age}, Type: {type(Age)}")
print(f"Height: {Height_metres}, Type: {type(Height_metres)}")
print(f"Favourite Colour: {Fav_colour}, Type: {type(Fav_colour)}")
print(f"Is a Student: {is_student}, Type: {type(is_student)}")

Age: 28, Type: <class 'int'>
Height: 5.54, Type: <class 'float'>
Favourite Colour: Yellow, Type: <class 'str'>
Is a Student: True, Type: <class 'bool'>

##Question 1.2 Type Conversion

##QUESTION 1.3 BASIC OPERATIONS

In [ ]:
#Addition
Num1 = 15
Num2 = 7

print(f"Addition: {Num1 + Num2}")

Addition: 22

In [ ]:
#Subtraction
print(f"Subtraction: {Num1 - Num2}")

Subtraction: 8

In [ ]:
#Division
print(f"Division: {Num1 / Num2}")

Division: 2.142857142857143

In [ ]:
#floor division
print(f"Floor Division: {Num1 // Num2}")

Floor Division: 2

In [ ]:
first_name = 'Alice'
last_name = 'Smith'
full_name = first_name + ' ' + last_name
print(full_name)

Alice Smith

####PART 2 CONDITIONAL STATEMENTS
Question 2.1 Positive, Negative or Zero

In [ ]:
Number = float(input("Enter a number: "))
if Number > 0:
  print("Number is positive")
elif Number < 0:
  print("Number is negative")
else:
  print("Number is zero")

Enter a number: 10
Number is positive

#####Question 2.2 Eligibility for Discount

In [ ]:
Purchase_amount = float(input("Enter the purchase amount: "))

if Purchase_amount >= 100:
   discount = 0.1
elif 50 <= Purchase_amount <= 99:
    discount = 0.05
else:
    discount = 0
print(f"Discount: {discount}%")
print(f"Total Amount: {Purchase_amount - (Purchase_amount * (discount / 100))}")

Enter the purchase amount: 500
Discount: 0.1%
Total Amount: 499.5

#Question 2.3 Simple Password Check

In [ ]:
correct_password = "Python123"
entered_password = input("Enter the password: ")

if entered_password == correct_password:
    print("Password is correct")
else:
    print("Password is incorrect")

Enter the password: Kendi321
Password is incorrect

##Part 3 Data Structures
#Question 3.1 Lists

In [ ]:
#Creating fruit list
list_of_fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']
print(list_of_fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [ ]:
#printing the third element
print(list_of_fruits[2])

orange

In [ ]:
#adding a new fruit
list_of_fruits.append('tangerine')
print(list_of_fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'tangerine']

In [ ]:
#removing one fruit from the list
list_of_fruits.remove('banana')
print(list_of_fruits)

['apple', 'orange', 'grape', 'kiwi', 'tangerine']

In [ ]:
#modifying the second element to a different fruit
list_of_fruits [1] = 'mango'
print(list_of_fruits)

['apple', 'mango', 'grape', 'kiwi', 'tangerine']

In [ ]:
print(list_of_fruits)

['apple', 'mango', 'grape', 'kiwi', 'tangerine']

In [ ]:
print('Number of fruits:', len(list_of_fruits))

Number of fruits: 5

In [ ]:
#making a file
def print_list_with_indices(fruits_list)

##Visual representation

####Question 3.2 Tuples

In [ ]:
#Create a tuple called coordinates with three numbers
coordinates = (20,30,40)
print(coordinates)

(20, 30, 40)

In [ ]:
#Modifying the first element
coordinates[0] = 10
print(coordinates)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#it gives an error, because tuples are immutable, once they have been created, they cannot be modified

In [ ]:
#printing the second element of a tuple
print(coordinates[1])

30

#Question 3.3 Dictionaries

In [ ]:
#creating a dictionary
student_info = {'name': 'John Doe',
        'age': 20,
        'major': 'Computer Science',
       'GPA': 3.8}
print(student_info)

{'name': 'John Doe', 'age': 20, 'major': 'Computer Science', 'GPA': 3.8}

In [ ]:
#Access and print students major
print(student_info['major'])

Computer Science

In [ ]:
#update students' GPA
student_info['GPA'] = 3.9
print(student_info)

{'name': 'John Doe', 'age': 20, 'major': 'Computer Science', 'GPA': 3.9}

In [ ]:
#Add a key-value pair
student_info['university'] = 'Tech University'
print(student_info)

{'name': 'John Doe', 'age': 20, 'major': 'Computer Science', 'GPA': 3.9, 'university': 'Tech University'}

In [ ]:
#print all keys in the dictionary
print(student_info.keys())

dict_keys(['name', 'age', 'major', 'GPA', 'university'])

In [ ]:
#print all values in the dictionary
print(student_info.values())

dict_values(['John Doe', 20, 'Computer Science', 3.9, 'Tech University'])

##Question 3.4 Sets

In [ ]:
#Creating a set with duplicate numbers
unique_numbers = {1, 2, 2, 3, 4, 4, 5}
print(unique_numbers)

{1, 2, 3, 4, 5}

In [ ]:
# it returns unique values only

In [ ]:
#adding a number to the set
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
#removing a number from the set
unique_numbers.remove(3)
print(unique_numbers)

{1, 2, 4, 5, 6}

In [ ]:
#creating another set of numbers
other_numbers = {3, 4, 5, 6}
print(other_numbers)

{3, 4, 5, 6}

In [ ]:
#joining unique_numbers and other_numbers
joined_set = unique_numbers.union(other_numbers)
print(joined_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#intersection of numbers
intersection_set = unique_numbers.intersection(other_numbers)
print(intersection_set)

{4, 5, 6}

In [ ]:
#creating a venn diagram
print(unique_numbers)
print(other_numbers)
print(joined_set)
print(intersection_set)

{1, 2, 4, 5, 6}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{4, 5, 6}